<div class="mt-5 list row">
    <div class="col-md-6">
        <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="Buscar colaborador por nome..." [(ngModel)]="nome" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="procurarColaboradorNome()">
                    Buscar
                </button>
            </div>
        </div>
        <h4> Lista de Colaboradores </h4>
        <ul class="list-group">
            <li class="list-group-item lista" *ngFor="let colaborador of colaboradores; let i = index"
                [class.active]="i == atualIndex" (click)="setColaboradorAtivo(colaborador, i)">
                {{ colaborador.nome }}
            </li>
        </ul>

        <button class="mt-4 btn btn-sm btn-danger" (click)="removerTodosColaboradores()">Remover Todos</button>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
        <div *ngIf="atualColaborador">
            <div class="card shadow" style="width: 20rem;">
                <h5 class="card-title"> {{ atualColaborador.nome }}</h5>
                <div class="card-text">
                    <div class="mt-4">
                        <label><strong>Cpf: </strong></label>
                        {{ atualColaborador.cpf }}
                    </div>
                    <div>
                        <label><strong>Setor: </strong></label>
                        {{ atualColaborador.setor}}
                    </div>
                </div>
                <a class="card-link badgeb adge-info" routerLink="/colaboradores/{{ atualColaborador.id }}">
                    Editar
                </a>
            </div>
        </div>
        <div *ngIf="!atualColaborador">
            <br />
            <p>Selecione um colaborador para exibir aqui</p>
        </div>
    </div>
</div>